<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'signup/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="signup-box">
    <h1>Sign Up</h1>
    {% if form.non_field_errors %}
      <p style="color: red; list-style: none; padding: 0;">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <label for="id_first_name">{{ form.first_name.label }}</label>
      {{ form.first_name }}
      <br>
      <label for="id_last_name">{{ form.last_name.label }}</label>
      {{ form.last_name }}
      <br>
      {% if form.email.errors %}
      <p style="color: red; list-style: none; padding: 0;">
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      </p>
      {% endif %}
      <label for="id_email">{{ form.email.label }}</label>
      {{ form.email }}
      <br>
      {% if form.password.errors %}
      <p style="color: red; list-style: none; padding: 0;">
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      </p>
      {% endif %}
      <!-- End of password errors display -->
      <label for="id_password">{{ form.password.label }}</label>
      {{ form.password }}
      <br>
      <label for="id_confirm_password">{{ form.confirm_password.label }}</label>
      {{ form.confirm_password }}
      <br>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</body>
</html>
